@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap");

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: "Outfit", sans-serif;
}

p {
    font-size: 1.6rem;
}

h3 {
    font-size: 1.6rem;
}

h1 {
    font-size: 6rem;
}
/* -------------------------------
       welcome page
-------------------------------*/
.main {
    height: 100vh;
}
.main .welcome_page .home_title {
    position: relative;
    display: grid;
    place-items: center;
    color: black;
    font-size: 150px;
    background: url("./assets/ocean.jpeg") no-repeat center center/cover;
    width: 100%;
    height: 100vh;
    position: relative;
    position: absolute;
    top: 0;
    left: 0;
}
/* -------------------------------
       app
-------------------------------*/
.app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 1fr 1fr 50px;
    position: relative;
    background-color: white;
    color: black;
    height: 100vh;
    width: 100%;
}

.app .background {
    z-index: -1;
    grid-column: 2/3;
    grid-row: 1/5;
    background-color: orange;
}

.app .search {
    grid-row: 1/2;
    text-align: center;
    padding: 1rem;
}

.app .search input {
    position: relative;
    width: 500px;
    padding: 0.7rem 1.5rem;
    font-size: 1.2rem;
    border-radius: 25px;
    border: 1px solid rgba(6, 0, 0, 0.8);
    background: rgba(255, 255, 255, 0.1);
    top: 50px;
}

::placeholder {
    color: white;
}

/* .container {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    max-width: 700px;
    height: 700px;
    margin: auto;
    padding: 0 1rem;
    position: relative;
    top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
} */
/* -------------------------------
       top
-------------------------------*/
.app .top {
    width: 100%;
    margin: 1rem auto;
    grid-column: 1/2;
    grid-row: 2/3;
    max-width: 700px;
    height: 700px;
    margin: auto;
    padding: 0 1rem;
    position: relative;
    top: 10%;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 1fr 1fr;
}

.app .top .switch_div {
    grid-column: 2/3;
    grid-row: 3/4;
    place-self: center;
    left: -100px;
    top: 25px;
}

.app .top .location {
    position: relative;
    grid-column: 1/3;
    grid-row: 1/2;
}

.app .top .temp {
    grid-column: 1/2;
    grid-row: 2/3;
    padding: 30px;
    position: relative;
    width: fit-content;
    height: fit-content;
}

.app .top .temp h1 {
    position: relative;
}

.app .top .temp h3 {
    position: relative;
}

.app .top .description {
    position: relative;
    grid-column: 2/3;
    grid-row: 2/3;
    top: 45px;
    right: 35px;
}

.app .top .description p {
    position: relative;
}

.app .top .description img {
    position: relative;
}

/* -------------------------------
       weather_values 
-------------------------------*/
.app .weather_values {
    grid-column: 2/3;
    grid-row: 3/4;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    width: 600px;
    margin: 1rem auto;
    padding: 1rem;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.5);
}

.app .weather_values .wind {
    position: relative;
}

.app .weather_values .wind p {
    font-size: 1.6rem;
}

.app .weather_values .feels {
    position: relative;
}

.app .weather_values .feels p {
    position: relative;
}

.app .weather_values .feels span {
    position: relative;
    margin-left: 25px;
}

.app .weather_values .humidity {
    position: relative;
}

.app .weather_values .humidity p {
    position: relative;
}

.app .weather_values .wind {
    position: relative;
}

.app .weather_values .wind p {
    position: relative;
}
/* -------------------------------
       pollution
-------------------------------*/
.app .pollution {
    grid-column: 2/3;
    grid-row: 2/3;
    display: flex;
    justify-content: space-evenly;
    /* text-align: center; */
    width: 600px;
    margin: 1rem auto;
    padding: 1rem;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.5);
}

.app .pollution .air_components {
    position: relative;
}

.app .pollution .air_components p {
    position: relative;
}

.app .pollution .air_components span {
    position: relative;
}

.app .pollution .air_components .values {
    display: inline-block;
}

.app .pollution .air_components h2 {
    position: relative;
    font-size: 2rem;
}

.app .pollution .air_components span {
    font-size: 1.6rem;
    justify-self: flex-start;
}

.app .pollution .air_components .micro {
    font-size: 15px;
}

.app .pollution .air_components .substances {
    position: relative;
    font-size: 1.6rem;
    margin-right: 25px;
}

.app .pollution .air_components .values {
    position: relative;
}

.app .pollution .air_components #quality_index1 {
    font-weight: bold;
    font-size: 3.5rem;
    color: rgb(8, 174, 8);
}

.app .pollution .air_components #quality_index2 {
    font-weight: bold;
    font-size: 3.5rem;
    color: yellow;
}

.app .pollution .air_components #quality_index3 {
    font-weight: bold;
    font-size: 3.5rem;
    color: tomato;
}
